@import url("https://fonts.googleapis.com/css?family=Abel|Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #191919;
  color: #fff;
  font-family: "Abel", monospace;
  font-size: 18px;
}
p {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 2em;
}

.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: "Abel", monospace;
  font-size: 18px;
  cursor: pointer;
}

.accent {
  color: #af53ff;
  font-weight: bold;
}

.gradient-accent {
  padding-right: 0.3em;
  padding-left: 0.2em;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.strike-through {
  text-decoration: line-through;
}

.external-link {
  color: #fff;
}

.external-link:hover {
  color: #8e2de2;
  transition: 0.3s;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-nav__logo a:hover {
  color: #af53ff;
  transition: 0.3s;
}

.main-nav__menu {
  margin: 0 3em;
  list-style: none;
  width: 80%;
  display: flex;
}

.main-nav__item {
  margin: 0 3em;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #af53ff;
  transition: 0.3s;
}

.main-nav__link::before {
  margin-right: 4px;
  content: "[";
  color: #af53ff;
  opacity: 0;
  transition: 0.3s;
}

.main-nav__link::after {
  margin-left: 4px;
  content: "]";
  color: #af53ff;
  opacity: 0;
  transition: 0.3s;
}

.main-nav__link:hover::before {
  opacity: 1;
}

.main-nav__link:hover::after {
  opacity: 1;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
}

.hero__content {
  padding-top: 180px;
}

.hero__title,
.about__title,
.projects__title,
.contact__title {
  font-size: 2.5em;
  line-height: 1.5;
}

.hero__text {
  max-width: 660px;
  padding: 2em 0 4em 0;
}

.hero__btn-primary::before {
  margin-right: 4px;
  content: "[";
  color: #8e2de2;
}

.hero__btn-primary::after {
  margin-left: 4px;
  content: "]";
  color: #8e2de2;
}

.hero__btn-primary {
  color: #fff;
  text-decoration: none;
}

.hero__btn-primary:hover,
.hero__btn-primary:focus {
  color: #8e2de2;
  transition: 0.3s ease;
}

.hero__btn-primary:first-of-type {
  margin-right: 3em;
}

.about__container {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}

.about__content {
  padding: 1em;
}

.about__text,
.projects__text,
.contact__text {
  max-width: 660px;
  margin: 2em 0 1em;
}

.projects__text-interior {
  max-width: 660px;
  margin: 1em 0;
}

.about__skills,
.contact__form-container {
  padding: 1em;
}

.skills__title {
  margin: 0 1rem;
}

.skills__icons {
  display: flex;
  justify-content: flex-start;
  padding: 3rem 0;
  flex-flow: row wrap;
}

.dev-icon {
  font-size: 3rem;
  margin: 1rem;
}

/* hack to fix projects */

.project-icon {
  margin-right: 1em;
  font-size: 2.3em;
}

.about__site {
  margin: 0 1rem;
}

.site__desc p {
  padding-bottom: 1em;
}

.projects__container {
  padding-top: 80px;
}

.projects__projects-grid {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projects__project-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  animation: modalopen 1.2s ease-in;
}

.projects__project-image:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.contact__container {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.contact__content {
  padding: 1em 4em 1em 1em;
  max-width: 660px;
}

.contact__subtitle {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}

.contact__form-container {
  border: 1px solid #8e2de2;
  border-radius: 8px;
}

.contact__form label {
  padding: 0.4em 0;
  display: inline-block;
}

.contact__form input,
.contact__form textarea {
  width: 90%;
  border: 0;
  padding: 0.4em;
  background-color: #fff;
  border-bottom: 1px solid #8e2de2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.contact__button {
  margin: 2em 0 1em 0;
  cursor: pointer;
}

.project {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.project__content {
  position: relative;
  background-color: #303030;
  margin: 10% auto;
  width: 75%;
  animation-name: modalopen;
  animation-duration: 0.6s;
  z-index: 2;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project__header {
  background: #212121;
  color: #fff;
  padding: 2em;
}

.project__body {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project__body img {
  width: 80%;
}

.project__body-content * {
  padding-bottom: 0.8em;
}

.project__body-content p {
  font-size: 0.9em;
}

.close-btn {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 36px;
  font-size: 2em;
}

.close-btn:hover,
.close-btn:focus {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

/* CSSTransition Animations */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  display: none;
}

/* Text meant only for screen readers. */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/* media queries */

@media screen and (max-width: 630px) {
  html,
  body {
    font-size: 16px;
  }
  .main-nav {
    display: block;
    width: 100%;
  }
  .main-nav h1 {
    text-align: center;
  }
  .main-nav__menu {
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  .main-nav__item {
    margin: 1em 0;
  }
  .hero__content,
  .about__container,
  .contact__container {
    padding-top: 80px;
    grid-template-columns: 1fr;
  }
  .projects__projects-grid {
    grid-template-columns: 1fr;
  }
  .projects__project-image {
    height: 200px;
  }
  .project__content {
    width: 100%;
    margin: 0;
  }
  .project__body {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  .project__tools {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1080px) {
  .project__body {
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
  .project__body img {
    padding-bottom: 1em;
  }
}
